* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 60%;
    margin: 20px auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    justify-content: space-evenly;
    border: 2px solid rgb(141, 143, 143);
    width: 100%;
    ;
}

.heading {
    padding: 5px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toDoList {
    list-style: none;
    width: 100%;
}

.list-items {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border:  1px solid rgb(133, 128, 128);
    width: 100%;
}

.clear-btn {
    padding: 20px;
}

.input {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    border: 1px solid rgb(61, 60, 60);
}
